.container {
    width: 700px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    border:  2px dotted #fe5d42;
    border-radius: 15px;
    background:#fff;
    padding: 10px 20px;
    margin-top: 10px;
    align-items: center;
    
}

img {
    width: 40px;
    height: fit-content;
    margin: auto 0;
   
}